@model GrannysKitchen.Models.RequestModels.AuthenticateRequest;

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="~/images/Grannys-Kitchen-logo.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form asp-route-returnUrl="" method="post" asp-action="ChefLoginCheck">

                    <div class="d-flex justify-content-center mt-1 login_container">
                        <h5>Chef Login</h5>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <div>
                            <input asp-for="Username" class="form-control" placeholder="username" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <div>
                            <input asp-for="Password" class="form-control" placeholder="password" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Remember me</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" name="button" class="btn login_btn">Login</button>
                    </div>


                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="#" class="ml-2">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/login.css" />
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}